{% extends "layout.html" %}
{% block content %}
	<style type="text/css">
		.form-control:focus {
			border-color: #ffc107;
			box-shadow: 0 2px 8px rgba(0, 0, 0, .16);
		}
		.link {
			text-decoration: none;
		}
		.link:hover {
			text-decoration: underline;
		}
	</style>
	<section class="d-flex flex-column p-0" style="background-color: rgb(227, 226, 221);">
		<div class="bg-white container flex-grow-1 px-0 px-sm-4 py-4">
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						<div class="alert alert-{{ category }}" style="margin: 0 12px 1rem;">
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			
			<div class="row d-flex align-items-center justify-content-center m-0">
		  	<div class="col-12 col-sm-11 col-md-9 col-lg-7 col-xl-5">
					<div class="card p-4">
						<header class="fs-3 pb-2" style="font-family: Arial, sans-serif;">Sign in</header>
						<form action="" method="POST" class="mb-3">
							{{ form.hidden_tag() }}
						  
	            <div class="mb-3">
	              {{ form.email.label(class="form-control-label fw-bold small", style="font-family: Arial, sans-serif;") }}
	              
	              {% if form.email.errors %}
	              	{{ form.email(class="form-control form-control-lg is-invalid", style="font-family: Arial, sans-serif; font-size: 14px;") }}
	              	<div class="invalid-feedback">
	            			<span>{{ form.email.errors[0] }}</span>
	              	</div>
	              {% else %}
	              	{{ form.email(class="form-control form-control-lg", style="font-family: Arial, sans-serif; font-size: 14px;") }}
	              {% endif %}
	            </div>
		          
	            <div class="mb-3">
	          		{{ form.password.label(class="form-control-label fw-bold small", style="font-family: Arial, sans-serif;") }}
	              
	              {% if form.password.errors %}
	              	{{ form.password(class="form-control form-control-lg is-invalid", style="font-family: Arial, sans-serif; font-size: 14px;") }}
	              	<div class="invalid-feedback">
	              		{% for error in form.password.errors %}
	              			<span>{{ error }}</span>
	              		{% endfor %}
	              	</div>
	              {% else %}
	              	{{ form.password(class="form-control form-control-lg", style="font-family: Arial, sans-serif; font-size: 14px;") }}
	              {% endif %}
	            </div>
		          
		          <div class="form-check d-flex align-items-center position-relative mb-3 ps-0">
		            {{ form.remember(class="form-check-input m-0") }}
		            {{ form.remember.label(class="form-check-label fw-bold small ms-1", style="font-family: Arial, sans-serif;") }}
		          </div>

						  <div class="d-grid gap-2">
		            {{ form.submit(class="btn btn-warning btn-block border-0", style="font-family: Arial, sans-serif; font-size: 14px;") }}
		          </div>
		          
						</form>
						<small class="d-flex justify-content-center pb-2">
							<a href="#" class="link" style="font-family: Arial, sans-serif;">Lost your password?</a>
					  </small>
					  
						<small class="d-flex justify-content-center text-muted text-center" style="font-family: Arial, sans-serif;">Not registered?
							<a href="{{ url_for('register') }}" class="link ps-1">Create accaunt</a>
						</small>
				  </div>
				</div>
		  </div>
		</div>
	</section>
{% endblock content %}